@page
@model AppServiceAccessTests.Pages.GetEnvModel
@{
    <h4>Environments</h4>
    <p>The digi sign environment is: <b>@Model.DigiSignEnv</b></p>
    <p>The document service environment is: <b>@Model.DocSvcEnv</b></p>
}
