@page
@model AppRegAccessTests.Pages.ParseFileModel
@{
    <h4>File Parser</h4>
    <p>Contents coming for file: <b>@Model.FileName</b></p> 
    <p>Test inner html by name attr: <b>@Model.FileContent</b></p>     
}
